@import '../../const/constants';

.input {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: $border-gray-color;
  padding-left: 10px;
  font-size: 18px;
  background-color: $base-lightgray-color;
  color: #000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input_block {
  max-width: 400px;
  margin: 0 auto;
}

.btn {
  width: 95%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-width: 4px;
  border-color: $border-lightgray-color;
}

.dropdown {
  border-radius: 10px;
}
