.lang_block {
  background-color: transparent;
  border-bottom-width: 1px;
  border-color: #000;
  border-style: solid;
  width: 100%;
}

.base {
  background-color: #fff;
  height: 100%;
}

.content{
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
}
