.section_container {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 95%;
}

.section_title {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}
