@import '../../const/constants';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 16px;
  border-radius: 10px;
  background-color: rgba($base-green-color, 0.4);
}

.code {
  font-size: 32px;
  color: $text-lightgray-color;
  font-family: Exo2-Bold;
}

.title {
  font-size: 24px;
  color: #000;
  font-family: Exo2-SemiBold;
}

.desc {
  color: $border-gray-color;
  margin-top: 10px;
  font-size: 16px;
  font-family: Exo2-Medium;
}
