@import '../../const/constants';

.root {
  width: 50%;
  background-color: white;
  padding: 10px 10px 20px;
  border-right-width: 4px;
  border-top-width: 4px;
  border-style: solid;
  border-top-color: $border-lightgray-color;
  border-right-color: $border-gray-color;
  max-height: 80px;
}

.root_second_child {
  border-right-width: 0;
}

.active {
  background-color: $base-green-color;
  border-top-color: $border-gray-color;
}

.title {
  text-align: center;
  color: black;
}

.image {
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto;
}
