.input {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
}

.btn{
  width: 100%;
}