@import '../../const/constants';

.container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 20px auto 0;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: $base-lightgray-color;
  border-bottom-width: 1px;
  border-color: $border-lightgray-color;
}

.codes_list {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}

.code {
  color: #000;
  font-family: Exo2-Medium;
}

.name {
  width: 200px;
  text-align: center;
  color: #000;
  font-family: Exo2-Medium;
}

.values_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.value {
  color: #000;
  opacity: 0.7;
  font-weight: 600;
  font-family: Exo2-Bold;
}

.difference_plus {
  color: green;
  font-size: 12px;
  font-family: Exo2-Regular;
}

.difference_minus {
  color: red;
  font-size: 12px;
  font-family: Exo2-Regular;
}

.percents {
  font-size: 10px;
  color: blue;
  font-family: Exo2-Regular;
}
